hr {color:sienna;}
p {margin-left:20px;}
body{
	background: #e4f5fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 23%, #9fd8ef 39%, #2ab0ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(23%,#bfe8f9), color-stop(39%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 23%,#9fd8ef 39%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 23%,#9fd8ef 39%,#2ab0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 23%,#9fd8ef 39%,#2ab0ed 100%); /* IE10+ */
 	background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 23%,#9fd8ef 39%,#2ab0ed 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
	font-size: 25px;
	color: #CB38FF;
}
h2{
	font-size: 70px;
	position:relative;
	top: 100px;
}
form{
	font-size: 20px;
}
input[type="text"] {
    width: 1000px;
    height: 75px;
    font-size: 50px;
    margin: 0 auto;
    position:relative;
    text-align: center;
	top:100px;
left:0px;
}
/*Code from http://css-tricks.com/examples/ButtonMaker/#*/
button {
   border-top: 1px solid #96d1f8;
   background: #bfd9de;
   background: -webkit-gradient(linear, left top, left bottom, from(#7db0d1), to(#bfd9de));
   background: -webkit-linear-gradient(top, #7db0d1, #bfd9de);
   background: -moz-linear-gradient(top, #7db0d1, #bfd9de);
   background: -ms-linear-gradient(top, #7db0d1, #bfd9de);
   background: -o-linear-gradient(top, #7db0d1, #bfd9de);
   padding: 10px 20px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #141314;
   font-size: 17px;
   font-family: Georgia, Serif;
   text-decoration: none;
   position:relative;
	top: 80px;
	width: 120px;
	height: 50px;
 }
button:hover {
   border-top-color: #5b99cf;
   background: #5b99cf;
   color: #ffffff;
}
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
 }
